////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////

$fa-font-path:              "webfonts";

$body-bg:                   #ddd;
$font-family-sans-serif:    'Ubuntu', sans-serif;

////////////////////////////////////////////////////////////////////////////////
// Import
////////////////////////////////////////////////////////////////////////////////

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

////////////////////////////////////////////////////////////////////////////////
// Bootstrap Mixins
////////////////////////////////////////////////////////////////////////////////

nav {
    @extend .nav;

    a {
        @extend .nav-link;
        @extend .text-dark;
    }
}

////////////////////////////////////////////////////////////////////////////////
// FontAwesome Mixins
////////////////////////////////////////////////////////////////////////////////

span.home {
    @extend %fa-icon;
    @extend .fas;
    &:before { content: fa-content($fa-var-home); }
}
  
span.abo {
    @extend %fa-icon;
    @extend .fas;
    &:before { content: fa-content($fa-var-envelope); }
}