////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////

$fa-font-path:              "webfonts";

$body-bg:                   #ddd;
$font-family-sans-serif:    'Ubuntu', sans-serif;

////////////////////////////////////////////////////////////////////////////////
// Import
////////////////////////////////////////////////////////////////////////////////

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

////////////////////////////////////////////////////////////////////////////////
// Mixins
////////////////////////////////////////////////////////////////////////////////

nav {
    @extend .nav;
    @extend .container;
    @extend .p-1;

    a {
        @extend .nav-link;
        @extend .text-dark;
    }

    .home {
        span {
            @extend %fa-icon;
            @extend .fas;
            &:before { content: fa-content($fa-var-home); }    
        }
    }
    .subscribe {
        @extend .ml-auto;
        
        span {
            @extend %fa-icon;
            @extend .fas;
            &:before { content: fa-content($fa-var-envelope); }
        }
    }
    .upload {
        @extend .text-primary;
    }
}

main {
    @extend .container;
    @extend .bg-white;
    @extend .p-3;
}

footer {
    @extend .container;
    @extend .text-center;
    @extend .p-1;

    // p {
        @extend small;
        @extend .text-dark;
    // }
}