node_modules
**/__pycache__

# Compiled CSS:
*.css
*.map

# All (collected) static files, archive, etc.
/media
/staticfiles

# Misc. stuff & sensitive info:
.env
/ignore
.vscode/

docker-compose.yml

.DS_Store
