node_modules
**/__pycache__

# Compiled CSS:
*.css
*.map

# All (collected) static files, archive, etc.
/public

# Misc. stuff
/ignore
/staticfiles

# VS Code preferences
.vscode/

# Sensitive info:
/secrets.json