aniso8601==7.0.0
asgiref==3.2.7
backcall==0.1.0
click==7.1.1
configparser==5.0.1
decorator==4.4.2
django-appconf==1.0.4
django-compressor==2.4
django-grappelli==2.14.2
django-libsass==0.8
django-pagedown==2.1.2
django-solo==1.1.3
Django==3.0.12
dnspython==1.16.0
Flask-SQLAlchemy==2.4.1
Flask==1.1.2
graphene-django==2.13.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
ipython-genutils==0.2.0
ipython==7.13.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
libsass==0.20.0
Markdown==3.2.1
MarkupSafe==1.1.1
mutagen==1.44.0
mysql-connector-python==8.0.19
mysql==0.0.2
mysqlclient==2.0.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.6.1
pytz==2020.1
rcssmin==1.0.6
rjsmin==1.1.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
traitlets==4.3.3
Unidecode==1.1.1
wcwidth==0.1.9
Werkzeug==1.0.1
