<form enctype="multipart/form-data" action="/upload/" method="POST" id="upload-form" class="d-flex flex-column" novalidate>
    {% csrf_token %}
    <h2 class="pb-2">Teile deinen Track:</h2>

    <div>
        {{ form.password.errors }}
        {{ form.password }}
        <p class="invalid-feedback mb-0">Falsches Passwort</p>
    </div>

    <div>
        {{ form.data.errors }}
        <div class="custom-file mt-2 mb-2">
            {{ form.data }}
            <label class="custom-file-label" for="customFile">Dein Track… (nur MP3 erlaubt)</label>
            <p class="invalid-feedback">Wähle eine MP3 Datei aus</p>
        </div>
    </div>

    {{ form.name.as_hidden }}

    <div>
        {{ form.artist.errors }}
        {{ form.artist }}
        <small class="form-text text-muted pb-3">Lass das Feld leer, um anonym zu bleiben.</small>
    </div>

    <div class="form-check mb-3">
        {{ form.tos.errors }}
        {{ form.tos }}
        <label class="form-check-label" for="tos">
{% comment %} 
            Mein Track ist <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de">CC-BY-NC-SA</a> lizensiert.
 {% endcomment %}
            Mein Track darf vom digitalen Trommelkreis genutzt und veröffentlicht werden.
        </label>

        <p class="invalid-feedback mb-0">
{% comment %} 
            Du kannst nur CC-lizensierte Tracks hochladen
 {% endcomment %}
            Du kannst nur Tracks hochladen, die vom digitalen Trommelkreis verwendet werden dürfen
        </p>

        <small class="form-text text-muted">
            Nach dem Hochladen sind die Tracks für jeden abspielbar und herunterladbar, und werden ggf. als Material
            für zukünftige Trommelkreise (z.B. Remixes) verwendet.
{% comment %} 
            <br>
            Durch die CC-BY-NC-SA Lizenz teilst du uns mit, dass das für dich okay ist.
 {% endcomment %}
        </small>
    </div>

    <button type="submit" style="width: 100%;" class="btn btn-primary">Upload</button>
</form>