{% extends "layout.html" %}

{% block title %}Nächstes Mal{% endblock %}
{% block heading %}Mitmachen{% endblock %}
{% block subheading %}beim digitalen Trommelkreis{% endblock %}

{% block main %}
<div class="alert alert-danger">
  <h3 class="alert-heading">Leider findet gerade keine Session statt…</h3>
  <p>
    Schau auf unsere <a class="alert-link" href="/info">Info</a> Seite um zu erfahren, wann der nächste Trommelkreis stattfindet.<br>
    In der Zwischenzeit kannst du im <a class="alert-link" href="/archiv">Archiv</a> bisherige Sessions anhören.
  </p>
</div>
{% endblock %}
