{% extends "layout.html" %}

{% block title %}Archiv{% endblock %}
{% block heading %}Archiv{% endblock %}
{% block subheading %}des digitalen Trommelkreises{% endblock %}

{% block main %}
<div class="archive">
	{% for month in archive %}
	<h3 class="month">{{ month.0.0.date|date:"F" }} <small class="year">{{ month.0.0.date|date:"Y" }}</small></h3>
	<div class="row">

		<div class="col-md-6">
			<div class="list-group text-left">
				{% comment %} Left column {% endcomment %}
				{% for session in month.0 %}
				{% include "archive/session_item.html" %}
				{% endfor %}
			</div>
		</div>

		<div class="col-md-6">
			<div class="list">
				{% comment %} Right column {% endcomment %}
				{% for session in month.1 %}
				{% include "archive/session_item.html" %}
				{% endfor %}
			</div>
		</div>
	</div>

	<hr>
	{% endfor %}
</div>
{% endblock %}