{% extends "layout.html" %}
{% load session_filters %}

{% block title %}Artist: {{ artist.name }}{% endblock %}
{% block heading %}{{ artist.name }}{% endblock %}
{% block subheading %}Artist{% endblock %}

{% block main %}

<div id="sessionlist" class="list-group text-start">
  {% for file in files %}
  <a href="#{{ file.slug|css_friendly_id }}" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">{{ file.name }}</h5>
      <small class="text-muted">{{ file|duration }}</small>
    </div>
    <div class="d-flex justify-content-between">
      <p class="mb-1 text-muted">{{ file.filename }}</p>
      <small class="text-muted">{{ file.filesize|filesizeformat }}</small>
    </div>
    <div class="d-flex justify-content-between">
      <p class="mb-1 text-muted">{{ file.session.challenge }}</p>
      <small class="text-muted">{{ file.session|dateformat }}</small>
    </div>
  </a>
  <div class="collapse" id="{{ file.slug|css_friendly_id }}" data-bs-parent="#sessionlist">
    <div class="card card-body">
      <audio src="{{ file.url }}" style="width: 100%;" preload="none" controls>
        <p>Dein browser unterstützt das <em>audio</em> Element nicht.</p>
        <p>Du kannst stattdessen die <a href="{{ file.url }}">Datei Herunterladen</a>.</p>
      </audio>
    </div>
    <hr>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
$(function () {
  // When section is collapsed, pause audio player:
  $(".collapse").each(function (index, element) {
    var player = $(element).find("audio")[0];
    $(element).on("hidden.bs.collapse", function () {
      player.pause();
    });
  });
});
</script>
{% endblock %}
