{% extends "layout.html" %}
{% load session_filters %}

{% block title %}Artists{% endblock %}
{% block heading %}Archiv{% endblock %}
{% block subheading %}des digitalen Trommelkreises{% endblock %}

{% block main %}

<div id="sessionlist" class="list-group text-start">
    <div class="list-group text-start">
    	{% for artist in artists %}
        <a href="{% url "archive:single_artist" artist.slug %}" class="list-group-item list-group-item-action">
            <h5 class="mb-1 text-truncate">{{ artist.name }}</h5>
            <small class="text-muted">{{ artist|filecount }}</small>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    // When section is collapsed, pause audio player:
    $(".collapse").each(function (index, element) {
        var player = $(element).find("audio")[0];
        $(element).on("hidden.bs.collapse", function () {
            player.pause();
        });
    });
});
</script>
{% endblock %}
