{% extends "layout.html" %}
{% load session_filters %}

{% block title %}Challenge vom {{ session|dateformat }}{% endblock %}
{% block heading %}{{ session.challenge.name }}{% endblock %}
{% block subheading %}{{ session|dateformat }}{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
{% comment %} 
        <h1 class="card-title">
            {{ session.challenge.blurb }}
        </h1>

        <h3 class="card-subtitle mb-2 text-muted">
            {{ session.challenge.blurb }}
        </h3>
{% endcomment %}

        <div class="challenge-description">
            {{ session.challenge.description|markdownify|safe }}
        </div>
    </div>
</div>

<hr>

{% for subsection in files %}
{% if subsection.0.session_subsection %}
<h3>{{ subsection.0.session_subsection }}</h3>
{% endif %}
<div id="sessionlist" class="list-group text-left">
	{% for file in subsection %}
	<a href="#{{ file.slug }}" class="list-group-item list-group-item-action" data-toggle="collapse">
		<div class="d-flex justify-content-between">
			<h5 class="mb-1 text-truncate">{{ file.name }}</h5>
			<small class="text-muted">{{ file|duration }}</small>
		</div>
		<div class="d-flex justify-content-between">
			<p class="mb-1 text-muted text-truncate">{{ file.artist|default:"Anonym" }}</p>
			<small class="text-muted">{{ file.filesize|filesizeformat }}</small>
		</div>
	</a>
	<div class="collapse" id="{{ file.slug }}" data-parent="#sessionlist">
		<div class="card card-body">
			<audio src="{{ file.url }}" style="width: 100%;" preload="none" controls>
				<p>Dein browser unterstützt das <em>audio</em> Element nicht.</p>
				<p>Du kannst stattdessen die <a href="{{ file.url }}">Datei Herunterladen</a>.</p>
			</audio>
			{# <a href="{{ session.slug }}/{{ file.slug }}" class="btn btn-secondary text-light m-3" download>Download</a> #}
		</div>
		<hr>
	</div>
	{% endfor %}
</div>

<hr>
{% endfor %}

<div class="d-flex justify-content-between">
	<span><a href="{% url "archive_home" %}">Archiv</a> / {{ session.slug }}</span>
	<a class="download-link" title="Download" href="{% url "session_zip" session.slug %}">
		{# TODO: <small>ZIP Download</small>#}<span></span></a>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    // When section is collapsed, pause audio player:
    $(".collapse").each(function (index, element) {
        var player = $(element).find("audio")[0];
        $(element).on("hidden.bs.collapse", function () {
            player.pause();
        });
    });
});
</script>
{% endblock %}
