{% extends "layout.html" %}
{% load session_filters %}

{% block title %}Sessions{% endblock %}
{% block heading %}Archiv{% endblock %}
{% block subheading %}des digitalen Trommelkreises{% endblock %}

{% block main %}
<div class="archive">
	{% for month in archive %}
	<h3 class="month">{{ month.0.0|month }} <small class="text-muted">{{ month.0.0|year }}</small></h3>
	<div class="row">

		<div class="col-md-6">
			<div class="list-group text-start">
				{% comment %} Left column {% endcomment %}
				{% for session in month.0 %}
				{% include "archive/session_item.html" %}
				{% endfor %}
			</div>
		</div>

		<div class="col-md-6">
			<div class="list-group">
				{% comment %} Right column {% endcomment %}
				{% for session in month.1 %}
				{% include "archive/session_item.html" %}
				{% endfor %}
			</div>
		</div>
	</div>

	<hr>
	{% endfor %}
</div>
{% endblock %}
