{% load session_filters %}

<a href="{% url "session_view" session.slug %}" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
        <h5 class="mb-1">{{ session.challenge.name }}</h5>
        <small class="text-muted">{{ session|dateformat }}</small>
    </div>
    <p style="height: 20px;" class="mb-1">{{ session.challenge.blurb }}</p>
    <div class="d-flex justify-content-between">
        <small class="text-muted">{{ session|filecount }}</small>
        {% if session.copyright_issues %}
        <small><i class="fas fa-lock"></i></small>
        {% endif %}
    </div>
</a>
