{% extends "layout.jinja" %}

{% block title %}Archiv{% endblock %}

{% block main %}
<div class="text-center">
	<h1 class="font-weight-bold">Archiv des digitaler Trommelkreises</h1>
	{# <h6 class="text-muted">Jeden Montag/Mittwoch/Freitag 19:00-21:00 Uhr</h6> #}
	{# <img src="{{ url_for('static', filename='logo.png') }}" width="700px" class="img-fluid p-3" alt="logo"> #}

	<h2>Wähle eine Session aus:</h2>
	<div class="row">
		<div class="col-md-6">
			{# <h3>2018</h3> #}
			<div class="list-group text-left">
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">20.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">21.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">22.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">23.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
			</div>
		</div>

		<div class="col-md-6">
			{# <h3>2019</h3> #}
			<div class="list-group text-left">
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">24.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">25.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">26.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">27.03.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
			</div>
		</div>
	{# </div>
	<hr>
	<div class="row"> #}
		<div class="col-md-6">
			{# <h3>2020</h3> #}
			<div class="list-group text-left">
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">20.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">21.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">22.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">23.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
			</div>
		</div>

		<div class="col-md-6">
			{# <h3>2021</h3> #}
			<div class="list-group text-left">
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">25.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">26.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">27.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
				<hr>
				<a href="#" class="list-group-item list-group-item-action">
					<div class="d-flex justify-content-between">
						<h5 class="mb-1">Kurt Razelli Challenge</h5>
						<small class="text-muted">28.04.2020</small>
					</div>
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small class="text-muted">5 Einträge</small>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}