{% extends "layout.jinja" %}

{% block title %}Archiv{% endblock %}

{% block main %}
<h2>Wähle eine Session aus:</h2>

<ul>
	<li><a href="#">20180319</a></li>
	<li><a href="#">20180416</a></li>
	<li><a href="#">20180430</a></li>
</ul>
{% endblock %}