{% extends "layout.html" %}

{% block title %}Challenge{% endblock %}

{% block main %}
<h1>Kurt Razelli Type Beat</h1>
<h2>25.3.2020</h2>

<p>
Kurt Razelli ist eine österreichische Kulturinstitution,<br>
die vielen von euch bekannt sein wird.
</p>

<p>
In seinen Beats verarbeitet Kurt Razelli lustige oder markante Sager von Politikern, Promis, Straßeninterviews, usw. zu Tracks.
</p>

<p>
Heute geht es darum, einen Beat im Stile von Kurt Razelli frei nachzuempfinden.
</p>

<h1>Die Regeln:</h1>
<ol>
<li>Such dir ein (oder mehrere) lustiges oder bekanntes Sprachsample aus Fernsehen/YouTube/etc.</li>
<li>Deine Samples müssen weder österreichisch noch deutschsprachig sein – es sollte aber einen roten Faden geben.</li>
<li>Vertone die Samples deiner Wahl mit einem passenden Beat.</li>
<li>Unten findest du Links zu ein paar Kurt Razelli Videos als Inspiration.</li>
<li>Am einfachsten verwendest du dazu einen YouTube Downloader, oder eine Browsererweiterung, mit der ihr Ton von Webseiten aufnehmen könnt.</li>
</ol>

<h3>Beispiele:</h3>
<ul>
<p><a class="big" href="https://www.youtube.com/watch?v=4VTTz6CrFM4">7200 Schilling Song</a></p>
<p><a class="big" href="https://www.youtube.com/watch?v=QIf_s38BBHY">Das ist nicht ok</a></p>
<p><a class="big" href="https://www.youtube.com/watch?v=Myfg-s4tVa0">Gigabyte</a></p>
<p><a class="big" href="https://www.youtube.com/watch?v=mmlb0uMguww">Barbiepuppen Blond</a></p>
<p><a class="big" href="https://www.youtube.com/watch?v=oPZ_2e7daaA">Crazy What U Do Wis Me</a></p>
<p><a class="big" href="https://www.youtube.com/watch?v=U19mvsyRVRc">General Stronach Song</a></p>
</ul>

<h3>Anfang 19:30 Uhr</h3>
<p>Du hast bis 19:30 Uhr, um dir passende Samples<br>aus dem Internet zu suchen.</p>
<h3>Ende 21:00 Uhr</h3>
{% endblock %}