<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylish.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

		<title>Digitaler Trommelkreis: {% block title %}Home{% endblock %}</title>
	</head>

	<body>
		<nav>
			<a class="home" href="/"><span></span></a>
			<a class="info" href="/info">Info</a>
			<a class="archive" href="/archiv">Archiv</a>
			<a class="upload" href="/upload">Mitmachen</a>
			<a class="subscribe" href="/abo"><span></span></a>
		</nav>

		<main>
			{% block main %}
			{% endblock %}
		</main>

		<footer>
			{% block footer %}
			Impressum: &copy; 2020 Fabian Hummel | Wiener Straße 33/8 | 8020 Graz
			{% endblock %}
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</body>
</html>