<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
		<style>
			body {
				font-family: 'Ubuntu', sans-serif !important;
				background-color: #ddd;
				}
		</style>

		<title>Digitaler Trommelkreis: {% block title %}Home{% endblock %}</title>
	</head>

	<body class="">
		<div class="container p-1">
			<nav class="nav">
				{% for page in pages %}
				<a class="nav-link {{ page['class'] }}" href="{{ page['url'] }}">{{ page['title'] }}</a>
				{% endfor %}
			</nav>
		</div>

		<div class="container bg-white p-3">
			{% block main %}
			{% endblock %}
		</div>

		<footer class="container text-center p-1">
			{% block footer %}
			<small class="text-dark">Impressum: &copy; 2020 Fabian Hummel | Wiener Straße 33/8 | 8020 Graz</small>
			{% endblock %}
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</body>
</html>