<!DOCTYPE html>
<html>
<head>
	<title>Trommelkreis: Archiv</title>
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
	<link rel="stylesheet" href="stylish.css"/>
</head>
<body>
	<div id="container">
		<a class="mail" href="/mail.php" title="Abonnieren">Abonnieren</a>
		<h1 class="nomargin">Digitaler Trommelkreis</h1>
		<h2 class="nomargin">nächste Session: Montag/Mittwoch/Freitag 19:00-21:00 Uhr</h2>
		<div id="logo"></div>
    <hr />

          <h2>Wähle eine Session aus:</h2>
      <ul>
                    <li class="row">
              <h3 class="directoryname"><a href="?dir=20180319">20180319</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20180416">20180416</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20180430">20180430</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20180430_bonus">20180430_bonus</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20180611">20180611</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20180618">20180618</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20181015">20181015</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20181029">20181029</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20181112">20181112</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20181126">20181126</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20181210">20181210</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20190114">20190114</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20190318">20190318</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20190401">20190401</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20190506">20190506</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20190617">20190617</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20191014">20191014</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20191028">20191028</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20191111">20191111</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20191125">20191125</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20191209">20191209</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200113">20200113</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200127">20200127</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200316">20200316</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200318">20200318</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200320">20200320</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200323">20200323</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200325">20200325</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=20200327">20200327</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=ewfj">ewfj</a></h3>
            </li>
                        <li class="row">
              <h3 class="directoryname"><a href="?dir=miniworkshop">miniworkshop</a></h3>
            </li>
                  </ul>

      </div>
  <a href="/">Upload</a>
</body>

</html>
