<!DOCTYPE html>
<html>
<head>
	<title>Trommelkreis: 20200323</title>
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
	<link rel="stylesheet" href="stylish.css"/>
</head>
<body>
	<div id="container">
		<a class="mail" href="/mail.php" title="Abonnieren">Abonnieren</a>
		<h1 class="nomargin">Digitaler Trommelkreis</h1>
		<h2 class="nomargin">nächste Session: Montag/Mittwoch/Freitag 19:00-21:00 Uhr</h2>
		<div id="logo"></div>
    <hr />

          <div class="row">
        <h2 class="filename">Datei</h2>
        <h2 class="size">Größe</h2>
        <h2 class="date">Uhrzeit</h2>
      </div>

      <ul>
                    <li class="row">
              <span class="filename"><a href="20200323/animalsession.wav">animalsession.wav</a></span>
              <span class="size">24.69MB</span>
              <span class="date">21:02</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/DryasSahara.mp3">DryasSahara.mp3</a></span>
              <span class="size">2.87MB</span>
              <span class="date">21:10</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/flying%20rat.mp3">flying rat.mp3</a></span>
              <span class="size">1.61MB</span>
              <span class="date">21:03</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/funwithbirds.mp3">funwithbirds.mp3</a></span>
              <span class="size">2.89MB</span>
              <span class="date">21:12</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/is%20again%20in%20the%20air.mp3">is again in the air.mp3</a></span>
              <span class="size">8.32MB</span>
              <span class="date">21:06</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/lil%20animals%20boi%20type%20beat.wav">lil animals boi type beat.wav</a></span>
              <span class="size">12.22MB</span>
              <span class="date">21:06</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/Moody%20Birds.mp3">Moody Birds.mp3</a></span>
              <span class="size">2.71MB</span>
              <span class="date">21:17</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/tiere.mp3">tiere.mp3</a></span>
              <span class="size">6.30MB</span>
              <span class="date">21:17</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/TrommelkreisBirdsarefuckenspecial-1.mp3">TrommelkreisBirdsarefuckenspecial-1.mp3</a></span>
              <span class="size">4.35MB</span>
              <span class="date">21:11</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/TrommelkreisClippertheChillinDolphin20.03-1.mp3">TrommelkreisClippertheChillinDolphin20.03-1.mp3</a></span>
              <span class="size">3.51MB</span>
              <span class="date">21:11</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/tropical_thunder.mp3">tropical_thunder.mp3</a></span>
              <span class="size">3.68MB</span>
              <span class="date">21:06</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/vogelchiller.mp3">vogelchiller.mp3</a></span>
              <span class="size">3.77MB</span>
              <span class="date">21:07</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/vogelchiller_remaster.mp3">vogelchiller_remaster.mp3</a></span>
              <span class="size">3.77MB</span>
              <span class="date">21:12</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/vogelistiefenentspannt.mp3">vogelistiefenentspannt.mp3</a></span>
              <span class="size">3.78MB</span>
              <span class="date">21:12</span>
            </li>
                        <li class="row">
              <span class="filename"><a href="20200323/wood%20-%20birdhouse%20%5BDigitaler%20Trommelkreis%5D.wav">wood - birdhouse [Digitaler Trommelkreis].wav</a></span>
              <span class="size">15.00MB</span>
              <span class="date">21:02</span>
            </li>
                  </ul>
      <hr />
      <div class="footer">
        <span class="navbar"><a href="/sessions">Archiv</a> / 20200323</span>
        <a class="download" title="ZIP Datei Herunterladen" href="?zip=20200323">ZIP Datei Herunterladen</a>
      </div>
      </div>
  <a href="/">Upload</a>
</body>

</html>
