{% load static %}
{% load compress %}

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
		{% compress css %}
		<link rel="stylesheet" href="{% static "stylish.scss" %}" type="text/x-scss">
		{% endcompress %}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

		<title>{% block title %}Home{% endblock %} | Digitaler Trommelkreis</title>
	</head>

	<body>
		<nav>
			<a class="home" href="{% url "home" %}" title="Home"><span></span></a>
			<a class="info" href="{% url "info" %}">Info</a>
			<a class="archive" href="{% url "archive:index" %}">Archiv</a>
			<a class="upload" href="{% url "upload:home" %}">Mitmachen</a>
			<a class="subscribe" href="{% url "subscribe" %}" title="Newsletter"><span></span></a>
		</nav>

		<main>
			<header>
				{% block header %}
				<div class="row">
					<div class="col-6 my-auto text-right">
						<img src="{% static "img/logo.png" %}" width="300px" class="img-fluid p-3" alt="logo">
					</div>
					<div class="col-6 my-auto text-left">
						<h1 class="font-weight-bold text-truncate">{% block heading %}{% endblock %}</h1>
						<h6 class="text-muted">{% block subheading %}{% endblock %}</h6>
					</div>
				</div>
				<hr>
				{% endblock %}
			</header>

			{% block main %}
			{% endblock %}
		</main>

		<footer>
			{% block footer %}
			Impressum: &copy; 2020 Fabian Hummel | Wiener Straße 33/8 | 8020 Graz
			{% endblock %}
		</footer>

		{% block scripts %}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>