{% extends "layout.jinja" %}

{% block title %}Challenge vom {{ session.datestring }}{% endblock %}
{% block heading %}{{ session.name }}{% endblock %}
{% block subheading %}{{ session.datestring }}{% endblock %}

{% block main %}
{{ session.html_or_text }}

<hr>

<div class="list-group text-left">
	{% for file in session.files %}
	<a href="#{{ file.name }}" class="list-group-item list-group-item-action" data-toggle="collapse">
		<div class="d-flex justify-content-between">
			<h5 class="mb-1">{{ file.name }}</h5>
			<small class="text-muted">{{ file.duration }}</small>
		</div>
		<div class="d-flex justify-content-between">
			<p class="mb-1 text-muted">{{ file.artist }}</p>
			<small class="text-muted">{{ file.size }}</small>
		</div>
	</a>

	<div class="collapse" id="{{ file.name }}">
		<div class="card card-body">
			<audio src="{{ session.yyyymmdd }}/{{ file.name }}" style="width: 100%;" preload="none" controls>
				<p>Dein browser unterstützt das <em>audio</em> Element nicht.</p>
				<p>Du kannst stattdessen die <a href="/testfile">Datei Herunterladen</a>.</p>
			</audio>
			{# <a href="{{ session.yyyymmdd }}/{{ file.name }}" class="btn btn-secondary text-light m-3" download>Download</a> #}
		</div>
		<hr>
	</div>

	{% endfor %}
</div>

<hr>

<div class="d-flex justify-content-between">
	<span><a href="/archiv">Archiv</a> / {{ session.yyyymmdd }}</span>
	<a class="download-link" title="Download" href="{{ session.yyyymmdd }}.zip">
		<!--<small>ZIP Download</small>--><span></span></a>
</div>
{% endblock %}