{% extends "archive.jinja" %}

{% block title %}Fehler{% endblock %}

{% block header %}
{{ super() }}
<hr>
<div class="text-center">
    <h3>Diese Session wurde nicht gefunden!</h3>
</div>
{% endblock %}