{% extends "layout.html" %}

{% block title %}Newsletter Abonnieren{% endblock %}
{% block heading %}Newsletter{% endblock %}
{# {% block subheading %}abonnieren{% endblock %} #}

{% block main %}
<div class="text-justify">
	<h2>Derzeit ist leider (noch) keine Abonnierung möglich</h2>
	<p>In Zukunft kannst du dich hier für E-Mail Updates anmelden, die kurz vor jeder neuen Challenge ausgeschickt werden.</p>
	<p>In der Zwischenzeit erfährst du über die <a href="/info">Info</a> Seite die nächsten Termine.</p>
</div>
{% endblock %}