{% extends "layout.jinja" %}

{% block main %}

<audio src="/testfile" preload="none" controls>
    <p>Dein browser unterstützt das <em>audio</em> Element nicht.
    <p>Du kannst stattdessen die <a href="/testfile">Datei Herunterladen</a>.</p>
</audio>

{% endblock %}