{% extends "layout.html" %}
{% load static %}
{% load session_filters %}

{% block title %}Upload{% endblock %}
{% block heading %}Mitmachen{% endblock %}
{% block subheading %}beim digitalen Trommelkreis{% endblock %}

{% block main %}
<h2>{{ today|dateformat }}:</h2>
<p>{{ today.challenge.blurb }}</p>
<hr>

<div class="d-flex justify-content-center">
{% include "upload_form.html"%}
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/id3-minimized.js" %}"></script>
<script src="{% static "js/upload.js" %}"></script>
{% endblock %}
