{% extends "layout.jinja" %}

{% block title %}Upload{% endblock %}
{% block heading %}Mitmachen{% endblock %}
{% block subheading %}beim digitalen Trommelkreis{% endblock %}

{% block main %}
<h2>{{ today.name }}:</h2>
<p>{{ today.challenge }}</p>
<hr>

<h2 class="pb-2">Teile deinen Track:</h2>
<form enctype="multipart/form-data" action="#" method="POST">
	<div class="row">
		<div class="col-md-6">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="file">
				<label class="custom-file-label" for="customFile">Dein Track… (nur MP3 erlaubt)</label>
			</div>
			<small class="form-text text-muted pb-3">Trommelkreis liest deine ID3 Metadaten, um deinen Namen anzuzeigen.</small>
		</div>

		<div class="col-md-6">
			<input type="text" class="form-control" id="password" placeholder="Passwort">
		</div>
	</div>

	<div class="row pl-4">
		<div class="col-md-6 mt-3">
			<input type="checkbox" class="form-check-input" id="tos">
			<label class="form-check-label" for="tos">Mein Track ist CC lizensiert.</label>
		</div>

		<div class="col-md-6 text-right mt-2">
			<button type="submit" style="width: 100%;" class="btn btn-primary">Upload</button>
		</div>
	</div>
</form>
{% endblock %}