{% extends "layout.jinja" %}

{% block title %}Upload{% endblock %}
{% block heading %}Mitmachen{% endblock %}
{% block subheading %}beim digitalen Trommelkreis{% endblock %}

{% block main %}
<h2>{{ today.name }}:</h2>
<p>{{ today.challenge }}</p>
<hr>

<h2>Teile deinen Track:</h2>
<form enctype="multipart/form-data" action="#" method="POST">
	<div class="row">
		<div class="form-group col-md-6">
			<input type="text" class="form-control" id="name" placeholder="Dein Name">
			<small class="form-text text-muted">Wenn du anonym bleiben möchtest, lass dieses Feld leer.</small>
		</div>

		<div class="custom-file col-md-6">
			{# <div class="custom-file"> #}
				<input type="file" class="custom-file-input" id="file">
				<label class="custom-file-label" for="customFile">Dein Track…</label>
			{# </div> #}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<input type="text" class="form-control" id="password" placeholder="Passwort">
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="form-check col-md-9">
					<input type="checkbox" class="form-check-input" id="tos">
					<label class="form-check-label" for="tos">Mein Track ist CC lizensiert.</label>
				</div>

				<div class="col-md-3">
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}