@import 'bootstrap/scss/bootstrap.scss';
@import '@fontsource/ubuntu/700.css';
@import '@fontsource/ubuntu/400.css';
@import '@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: #ddd;
    font-family: 'Ubuntu', sans-serif;
}

h1, h6 {
    font-weight: 700;
}
