@import 'bootstrap/scss/bootstrap';
@import '@fontsource/ubuntu/latin';
@import '@fortawesome/fontawesome-free/css/all';
@import 'spinner.scss';

body {
	background-color: #ddd;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-weight: 700;
}

h6 {
	font-weight: 500;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
